@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Lato&family=Merriweather&family=Playfair+Display&family=Source+Sans+Pro&display=swap');

body{
    
    font-family: 'Alkalami', serif;
   
}

:root{
    --primary-color:#fcd34d;
    position:fixed;
}



.coder{
    padding: 0rem;
}


.coder-heading{
    padding-top:1rem;
    text-align: center;
    color:brown;
    background-color: var(--primary-color);
    
}

.text-box{
    padding-bottom: 2rem;
    margin:auto;
}

.btn-button{
    margin-top: 5px;
    padding: 0px 240px;
    position: fixed;
    
}

.output-heading{
    margin-top: 80px;
    position: static;
    color:brown;
    padding: 0rem 15rem;
    padding-bottom: 1rem;
    margin-bottom:0.2ch;
    
   
  
}

.footer{
    background-color: var(--primary-color);
    padding-bottom: 2rem;
    margin-top: 250px;
    
}

.footer-header{
    padding-top:1rem;
    text-align: center;
    
    
    color:brown;
    background-color: var(--primary-color);
}

.para{
    
    text-align: center;
    color:brown;
    font-weight: lighter;

}




